
.p-datepicker {
    background-color: rgb(154, 177, 167) !important; 
    z-index: 1000 !important; 
}

.active-link {
    color: rgb(255, 1, 1); 
    font-weight: bold;
  }

  .settings-icon {
    margin-left: auto;         
    cursor: pointer;           
    color: #333;               
    transition: color 0.3s;    
    font-size: 1.2rem;         
}

.settings-icon:hover {
    color: #007bff;        
}

.settings-icon:active {
    color: #0056b3;        
}

.sidebar-button {
    background-color: #007BFF; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; 
    transition: background-color 0.3s, transform 0.3s; 
}

.sidebar-button:hover {
    background-color: #0056b3; 
}

.sidebar-button:active {
    transform: scale(0.98); 
}


body.dark-mode {
    background-color: #121212;
    color: #ffffff;      
  }
  

  body.dark-mode a {
    color: #1e90ff;
  }

  body.dark-mode button {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
  }
  
  body.dark-mode input, 
  body.dark-mode textarea, 
  body.dark-mode select {
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444444;
  }
  
  body.dark-mode .p-sidebar {
    background-color: #1e1e1e;
    color: #ffffff;
  }
